<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
  <head>
    <meta charset="utf-8"/>
    <title>{{ docTitle ? docTitle ~ ' | 5Merchants' : siteName }}</title>
    <meta name="description" content="{{ metaDesc|default('5Merchants') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    {% do craft.app.view.registerCssFile('@web/css/main.css') %}

  </head>
  <body {{ attr(bodyAttributes ?? {}) }}>

    <main>
      {% block content %}


      {% endblock %}
    </main>

  </body>
</html>