{% extends "_layout.twig" %} 
{% set bodyAttributes ={ class: "products shop-products" } %} 
{% set docTitle = category.title %} 

{% set categories = craft.categories.group('shopCategories').all() %}
{% set products = craft.products().relatedTo(category).all() %}

{% set thisMarker = category.slug %}


{% block content %}
<div class="contained-content  py-2 py-md-vw-xs">
    <div class="contain d-flex flex-column flex-md-row">
        <div class="col-12 col-md-4">
            <h1 class="h2-style">{{category.title}}</h1>
        </div>

        <div class="col-12 col-md-8">
            {% if category.bodyText %}
                {{category.bodyText}}
            {% endif %}
        </div>
    </div>
</div>

{% include '_partials/product-grid.twig' %}

{% endblock %}
{% block scripts %}
  {{ parent() }}
    <script>
    // This code applies to the product-grid.twig code.
    //.active indicates current page
    $(document).ready(function() {
        var thisMaker = "{{ thisMarker }}";
        $('ul.category-groups').each(function() {
            if ($(this).hasClass(thisMaker)) {
                $(this).addClass('active');
            }
        });
    });
    </script>

    
{% endblock %}