// main.scss
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url("https://use.typekit.net/htq1odv.css");


// Import Bootstrap variables and mixins
@import "../../node_modules/bootstrap/scss/functions";

// Customize Bootstrap variables (optional)
$heading-font: "Poppins", sans-serif;
$headings-font-family:$heading-font;
$headings-font-weight:700;


$body-font:"neue-haas-grotesk-text", sans-serif;
$font-family-base:$body-font;

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1366px,
  xl: 1600px,
  xxl: 1920px
);

$cust-grid-breakpoints:(
    hR:3480px,
);

$grid-breakpoints:map-merge($grid-breakpoints, $cust-grid-breakpoints);

$container-max-widths: (
  sm: 768px,
  md: 1024px,
  lg: 1389px,
  xl: 1600px,
  xxl: 1920px
);

$spacer: 16px;
$spacers: (
  0: 0,
  10px:10px,
  1: $spacer * 1,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
);

$new-spacer:(
    hR1: ($spacer * 1)*2,
    hR2: ($spacer * 2)*2,
    hR3: ($spacer * 3)*2,
    hR4: ($spacer * 4)*2,
    hR5: ($spacer * 5)*2,
);

$spacers:map-merge($spacers, $new-spacer);

$vw-spacer:(
    vw-xx:2vw,
    vw-xs:4vw,
    vw-sm:6vw,
    vw-md:8vw,
    vw-lg:14vw
);

$spacers:map-merge($spacers, $vw-spacer);

$primary:#000;
$success: #486c7a;
$light:#fff;
$cust-red:#ff503c;
$cust-gold:#E3C7A1;
$cust-tan:#CEC09F;
$cust-teal:#4c7c7b;
$cust-blue:#486c7a;
$cust-blue-dark:#3c5a66;
$cust-lightGrey:#f2f2f2;
$cust-darkGrey:#c7c8ca;

$border-trans:rgba(0, 0, 0, 0.17);


$accordion-border-radius: 0;
$accordion-icon-color: $primary;
$accordion-icon-active-color:$primary;
$accordion-button-active-bg: $light;
$accordion-border-color:$primary;
$accordion-border-width:0;
$accordion-padding-x:0;
$accordion-padding-y:0;
$accordion-button-icon:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' stroke='#{$accordion-icon-color}' fill='none'><path d='M-0.00390625 10H10.4989V20.5028'/><path d='M21 10L10.4972 10L10.4972 -0.502773'/></svg>");
$accordion-button-active-icon:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' stroke='#{$accordion-icon-color}' fill='none'><path d='M3.07422 2.5752L10.5008 10.0018L3.07422 17.4284'/><path d='M17.9258 17.4268L10.4992 10.0002L17.9258 2.5736'/></svg>");


@import "../../node_modules/bootstrap/scss/variables";
////Buttons


$new-colors:(
    "cust-red":$cust-red,
    "cust-tan":$cust-tan,
    "cust-teal":$cust-teal,
    "cust-blue":$cust-blue,
    "cust-blue-dark":$cust-blue-dark,
    "cust-lightGrey":$cust-lightGrey,
    "cust-darkGrey":$cust-darkGrey,
    "cust-gold":$cust-gold,
);

$theme-colors:map-merge($theme-colors, $new-colors);



@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/accordion";
$navbar-light-active-color:$cust-teal;
$dropdown-spacer:25px;

// Import Bootstrap components
@import "../../node_modules/bootstrap/scss/bootstrap.scss";








body{
    overflow-x: hidden;
    font-size: 16px;
    p{
        text-wrap:pretty;
    }
    p strong{
        font-weight: 500;
        font-size:calc(1em + 1px)
    }
    .sm-p p{
        font-size:.8em
    }

    .h1-style,
    h1{
        font-size: 2em
    }

    .h2-style,
    h2{
        font-size: 1.6em
    }

    .h3-style,
    h3{
        font-size: 1.3em;
        &.body-font{
            font-size: 1.3em;
        }
    }

    h1,h2,h3{
        text-wrap:balance
    }



    &.news-page,
    &.news-entry,
    &.basics-pages{
        h1,h2,h3{
            font-family:$body-font;
            font-weight:400;
        }
        h2{
            margin:1em 0;
        }
        ul.blog-list,
        ul.side-nav{
            li{
                line-height:2em
            }
        }
        ul.blog-list {
            border-top:1px solid $cust-darkGrey;
            li{
                border-bottom:1px solid $cust-darkGrey;
            }
        }
    }

    @include media-breakpoint-up(lg){
        .h1-style,
        h1{
            font-size: 2.5em
        }
        .h2-style,
        h2{
            font-size: 2em
        }
        .h3-style,
        h3{
            font-size: 1.3em
        }
    }

    @include media-breakpoint-up(hR){
        font-size: 2em;
    }

    .body-font{
        font-family: $body-font;
    }

    .col,
    .col-12{
        position: relative;
        p:last-of-type{
            margin-bottom: 0;
        }
    }
    a{
        text-decoration: none;
        i{
            font-size:1.5em;
            margin-left:.5em
        }
    }

    .btn{
        border-radius: 0;
        padding: .8em 2em 1em ;
        border-width: 0;
        font-size: 1em;
        @include media-breakpoint-down(sm){
            display: flex;
            justify-content: center;
        }

        &.btn-primary{
            &:hover{
                background-color: $cust-red;
            }
        }
        
    }


    .underline-btn{
        display: flex;
        padding-bottom: .3em;
        p,
        a{
            text-decoration: none;
            border-bottom: 2px solid;
            padding-bottom: .5em;
            font-family: $heading-font;
            font-weight: 400;
            display: flex;;

        }
    }

    .bg-light-opacity{
        background-color:rgba(255,255,255,.3)
    }

    .contained-content{
        padding-left:1.5em;
        padding-right:1.5em;
        .contain{
            max-width:calc(1366px - 6em);
            margin: 0 auto;

            p a{
                color:$cust-red;
                &:hover{
                    color:$primary
                }
            }
            // a:not(.underline-btn a, .btn, .news-page .contained-content .contain a, ul li a ){
            //     transition:color .2s ease-in;
            //     color:$cust-red;
            //     &:hover{
            //         color:$primary
            //     }
            // }
            // .underline-btn a, .btn, .news-page .contained-content .contain a, .list-unstyled a {
            //     &:hover{
            //         color:$cust-red
            //     }
            // }
        }

        @include media-breakpoint-up(sm){
            padding-left:3em;
            padding-right:3em;
        }

        @include media-breakpoint-up(hR){
            .contain{
                max-width:2400px;
            }
        }
    }

    .accordion{
        .accordion-item{
            border-bottom-width:2px;
        }
        .accordion-body h3,
        .accordion-header{
            font-size:1.2em;
            font-family: $body-font;
            font-weight: 500;
        }
        .accordion-button{
            font-size: 1.2em;
            font-weight: 500;
            font-family: $body-font;
            &:focus{
                box-shadow: none;
            }
            &::after{
                @include media-breakpoint-up(hR){
                    width: 40px;
                    height:40px;
                    background-size: 40px;
                }
            }
        }
    }


    .sm-img{
        max-width: 200px;
        @include media-breakpoint-up(lg){
            max-width: 40%
        }
    }

    .ul-4-col{
        column-count: 2;
    
        @include media-breakpoint-up(md){
            column-count: 4;
        }
    }

    .video{
        aspect-ratio: 16 / 9;
        width: 100%;
    }
    
    .bg-line{
        img{
            background-color: $light;
            padding-bottom: 1em;
        }
        position: relative;
        &:after{
            content:'';
            position: absolute;
            width: 2px;
            height: 100%;
            background-color: $primary;
            bottom:0;
            left: calc(50% - 1px);
            z-index: -1;
    
        }
    }

    input:focus,
    input:focus-visible{
        outline-color:$cust-red;
        border-radius: 0;
    }


}











/////Padding combos
@mixin container-pad($size-t, $size-r, $size-b, $size-l ) {
    padding-top: $size-t;
    padding-bottom: $size-b;
    padding-left: $size-l;
    padding-right: $size-r;
    .underline-btn{
        margin-top: $size-t;
    }
}

@mixin container-pad-sides($size-r, $size-l ) {
    padding-left: $size-l;
    padding-right: $size-r;
}


.container-one{
    @include container-pad(2em, 2em, 2em, 2em);
    @include media-breakpoint-up(lg){
        @include container-pad(3em, 3em, 3em, 3em);
    }
}

.three-col-padding{
    .col-12{
        @include media-breakpoint-up(sm){
            @include container-pad-sides(2em,0);
            &:nth-of-type(2n){
                @include container-pad-sides(0, 2em);
            }
        }
        @include media-breakpoint-up(md){
            @include container-pad-sides(2em,0);
            &:nth-of-type(2){
                @include container-pad-sides(1em,1em);
            }
            &:nth-of-type(3){
                @include container-pad-sides(0, 2em);
            }
            &:nth-of-type(4){
                @include container-pad-sides(2em,0);
            }
            &:nth-of-type(5){
                @include container-pad-sides(1em,1em);
            }
            &:nth-of-type(6){
                @include container-pad-sides(0,2em);
            }
        }
        @include media-breakpoint-up(lg){
            @include container-pad-sides(4em,0);
            &:nth-of-type(2){
                @include container-pad-sides(2em,2em);
            }
            &:nth-of-type(3){
                @include container-pad-sides(0, 4em);
            }
            &:nth-of-type(4){
                @include container-pad-sides(4em,0);
            }
            &:nth-of-type(5){
                @include container-pad-sides(2em,2em);
            }
            &:nth-of-type(6){
                @include container-pad-sides(0,4em);
            }
        }
    }
}

.news-intro{
    padding-bottom:2em;
    &:last-of-type{
        padding-bottom:0
    }
    @include media-breakpoint-up(sm){
        @include container-pad-sides(2em,0);
        &:nth-of-type(2n){
            @include container-pad-sides(0, 2em);
        }

        &:nth-last-of-type(2),
        &:last-of-type{
            padding-bottom:0
        }
    }
}

//////Color combos
@mixin color-group($bg-color, $font-color) {
    background-color:$bg-color;
    color:$font-color;
    a{
        color: $font-color;
        border-color: $font-color
    }
}

.red-group{
    @include color-group($cust-red, $light);
}

.black-group{
    @include color-group($primary, $light);
}

.teal-group{
    @include color-group($cust-teal, $light);
}

.blue-group{
    @include color-group($cust-blue, $light);
    .btn-light{
        color:$cust-blue;
    }
}


///Custom images

.img-fit-wrapper{
    min-height: 60vw;
    position: relative;
    overflow: hidden;

    @include media-breakpoint-up(sm){
        min-height:auto;
        &.four-pods{
            min-height: 50vw;
        }
    }
    @include media-breakpoint-up(md){
        &.four-pods{
            min-height: 25vw;
        }
    }
}

.img-fit{
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    z-index: 0;
    &.index-negative{
        z-index: -1; 
    }
    @include media-breakpoint-up(sm){
        height:100%;
    }
}





/////////////Store navigation//// shop////
.icon-cart{
    fill:#fff;
}

.store-nav{
    li{
        padding:0 1em;
        a{
            font-size: 14px;
            color:#fff;
        }
    }
}

#cartSummary{
    &.fade .modal-dialog {
        transform: translateX(200%);
        transition: transform 0.5s ease-out;
    }
    &.fade.show .modal-dialog {
        transform: translateX(100%);
    }
    .modal-dialog {
        transition: transform 0.5s ease-out; 
        max-width: 50%;
        right:0;
    }
}


.shop-products{
    h1{
        color:$cust-red;
    }

    a{
        h2{
            font-size: 1.1em;
        }
        .brand p{
            color:$primary; 
        }
    }

    ul.pagination{
        li strong,
        li a{
            width: 30px;
            height: 30px;
            background-color: $primary;
            color: $white;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            border-radius: 30px;
            &:hover{
                color: $white; 
                background-color: $cust-red;
            }
        }

        li strong{
            background-color: $cust-red;
        }
    }

// .list-unstyled{
//     li{
//         ul{
//             display: none;
//             &.active{
//                 display: block;
//             }
//         }
//     }
// }


    .bi-arrow-left,
    .bi-arrow-right{
        width: 20px;
        height: 20px;
        fill: $white;
    }



}

.in-stock span,
.out-of-stock span{
    text-wrap: nowrap;
}

.in-stock span{
    color: $cust-red;

}
.out-of-stock{
    color:$cust-darkGrey !important;
}

.add-to-cart{
    display: flex;
}

.no-show{
    display:none;
}




.category-groups{
    list-style:none;
    display:none;
    &.active{
        display:block
    }
}

.products-nav{
    li {
        display: flex;
        flex-direction: column;
        a{
            padding-bottom:.7em;
            &.active{
                color:$cust-red;
            }
        }
    }
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.accordion-body{
        ul:not(.list-unstyled){
        list-style:disc;
    }
    ul{
        margin-top:2em
    }
    ol{
        list-style:number;
        li a{
            color: $cust-red;
        }
    }
}


//////////////Footer///////////////

footer{
    .main-logo{
        width: 100%;
        max-width: 280px;
        .text-color{
            fill:$cust-tan;
        }
        .shape-color{
            fill:$cust-red
        }
    }
    hr{
        border-color:$cust-blue-dark;
        opacity:100%
    }
    ul a{
        transition: opacity .2s ease-in;
        &:hover{
            opacity: 0.7;
        }
    }
    .socials{
        margin-top:1em;
        svg{
            width: 2em;
        }
    }
}

//////////////Pages///////////////
.home{
    .navbar.sticky-start{
        background-color: #000;
        .nav-link{
            color:#fff;
        }
        .navbar-brand{
            .main-logo{
                .text-color{
                    fill:$cust-gold
                }
            }
        }
        #burger line{
            stroke:$light;
        }
    }

    #intro-section{
        background-size: 50%;

    }

    @include media-breakpoint-up(sm){
        .navbar.sticky-start{
            .dropdown-menu.show{
                background-color: $primary;
                li a{
                    color:$light;
                }
            }
        }
    }

    @include media-breakpoint-up(lg){
        h1{
            font-size: 2.6em
        }
        h2{
            font-size: 2.4em
        }

        h3{
            font-size: 1.5em
        }
    }


    @include media-breakpoint-up(xl){
        .home-info{
            max-width: 60%;
            margin: 0 auto;
        }
    }

}

.contact,
.our-principles{
    .contain{
        h1, h2{
            color:$cust-red;
        }
    }
}


.shipping-information {
    .table, table{
        width: 100%;
    }
    tbody{
        width: 100%;
        tr{
            width: 100%;
            background-color: $cust-lightGrey;
            border-bottom-width:0;
            &:nth-of-type(2n){
                background-color: $light;
            }
            td{
                padding:.5em;
            }
        }
    }
}


.news-page{
    .contain{
        h2{
            color:$cust-red;
        }
    }
}
.news-entry{
    .contain{
        h1{
            color:$cust-red;
        }
    }
}



////////////main nav


.navbar{
    background-color:#fff;
    transition: background-color .2s ease-in;
    .container-fluid{
        position:relative
    }
}

.nav-link{
    color:$primary
}

.navbar-brand{
    margin-right:0;
    position:relative;

    .main-logo{
        width: 100%;
        max-width: 280px;
        .text-color{
            transition: fill .2s ease-in;
            fill:$cust-teal
        }
        .shape-color{
            fill:$cust-red
        }
    }
}

.navbar-toggler{
    border-width:0;
    &:focus{
        box-shadow: none;
    }
}
  
#burger{
    width: 20px;
    height: 15px;
    line{
        stroke:$primary;
        transition: all 0.3s ease-in-out;
    }
    .hide-me {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }

    .line-top,
    .line-bottom {
        transform-origin: 50% 50%;
    }

    &.cross{
        .hide-me {
            opacity: 0;
            }
            .line-top {
            transform: rotate(45deg) translateY(7px);
            }
            .line-bottom {
            transform: rotate(-45deg) translateY(-7px);
            }
    }
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .5s ease;
}

.dropdown-menu{
    border-width: 0;
    border-radius:0;
    .dropdown-item{
        color:$primary;
        &:focus-visible{
            outline-offset:0;
        }
        &:hover,
        &:focus,
        &:active{
            background-color:transparent;
        }
    }
}




//css for mobile
@include media-breakpoint-down(md){
    .navbar-collapse{
        transition: all .1s ease;
        flex-direction: column;
        ul{
            opacity:0;
        }
    }

    .navbar-collapse.show{
        display: flex;
        height:calc(100vh - 160px);
        overflow: scroll;
        padding-bottom: 40px;
        ul{
            opacity:1;
            transition: all .5s ease;
        }
    }



    .nav-link{
        font-size:1.2em;
    }
    .dropdown-menu{
        background-color: transparent;
        border-width: 0;
        &[data-bs-popper]{
            margin-top:0px !important;
        }
    }


    .store-nav-hidden .navbar{
        .navbar-collapse.show{
            height:calc(100vh - 100px);
        }
    }

    .no-scroll {
        touch-action: none;
        overflow: hidden;
        width: 100%;
        #storeNav{
            background-color: $cust-tan;
            ul li a,
            .icon-cart{
                fill:$primary;
                color:$primary
            }
        }
        .navbar,
        .navbar.sticky-start{
            background-color: $cust-tan;
            .dropdown-toggle.show{
                color:$cust-teal;
                font-weight: 500;
            }
            .nav-link{
                color:$primary;
            }

            .navbar-brand{
                .main-logo{
                    .text-color{
                        fill:$cust-teal
                    }
                }
            }
            #burger line{
                stroke:$primary
            }
        }
    }
}




//css for desktop upwards
@include media-breakpoint-up(md){
    .navbar-brand{
        position: absolute;
        width: 200px;
        left:calc(50% - 100px) 
    }

    .dropdown-menu{
        padding:1em;
        .dropdown-item{
            padding-bottom: 1em;
        }
    }

    .dropdown-toggle.show{
        font-weight:500;
    }
}

.swiper{
    .swiper-slide{
        height:unset;
    }
    
    .swiper-button-prev,
    .swiper-button-next{
        width:30px;
        height: 30px;
        background-color: $primary;
        top:calc(100% - 8px);
        &:after{
            display: none;
        }
        .arrow{
            fill:$light;
            width: 20px;
            height:20px
        }
    }
    .swiper-button-prev{
        left:0
    }
    .swiper-button-next{
        right:0;
    }

    @include media-breakpoint-up(hR){
        .swiper-button-prev,
        .swiper-button-next{
            width:60px;
            height: 60px;
            top:calc(100% - 40px);
            .arrow{
                width: 40px;
                height:40px
            }
        }
    }
}




.home-info{
    position: relative;
    .Graphic_x0020_Style{fill:none;}
    .st0{fill:#f0f0f0;}
    .st1{fill:#E3C7A1;}
    .st2{fill:#D6D6D6;}
    .st3{fill:#A7A9AC;}
    .st4{fill:#4C7C7B;}
    .st5{fill:#F26848;}
    .st6{fill:#999999;}

    #diagram{
        position: relative;
    }
    .main{
        position: absolute;
        width: 100%;
        top:0;
        left:0
    }
}